
<footer>
    <div id="footer">
		<ul>
			<li><%= link_to "Home", '/welcome/index' %></li>
	        <li><%= link_to "AboutUs", '/home/about_us' %></li>
	        <li><%= link_to "Tutorials", '/home/tutorials' %></li>
	        <li><%= link_to "FAQ",'/home/faq'  %></li>
	        <li><%= link_to "ContactUs", '/home/contact_us'  %></li>
	    </ul>
   		<p>&copy; Olivian.com 2013</p>
   </div>
 </footer>
   